
*.zip

*.pdb

*.sdf

*.exe

*.ilk

*.sln

*.suo

*.tlog

*.obj

*.log

*.idb

*.vcxproj

*.lastbuildstate

*.filters

*.cpp

*.dat

*.docx

project/project_c/CommonAssignment/Debug/CommonAssignment.unsuccessfulbuild

trials/chapter_3/chapter_3/ClassDiagram.cd

*.unsuccessfulbuild

labs/exercise_22/exercise22/vdsvsdv
